.AudioRecorder {
    padding: 0;
}

    .AudioRecorder > .counter {
        width: 100%;
        height: 35vh;
        font-size: 25vh;
    }

    .AudioRecorder > .sound-wave {
        height: 30vh;
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
        display: block;
    }

    .AudioRecorder > .sound-wave.hide {
        display: none;
    }

.AudioRecorder > .button {
    display: inline-block;
    width: 15%;
    padding: 2vh 1%;
    margin: 1.5vh;
    color: white;
    font-size: 4vh;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.red {
    background-color: #EE6352;
}

.green {
    background-color: #6BAB90;
}

.gray {
    background-color: #CCCCCC;
}