.AudioRecorder {
    padding: 0;
}

    .AudioRecorder > .counter {
        width: 100%;
        height: 35vh;
        font-size: 25vh;
    }

    .AudioRecorder > .sound-wave {
        height: 30vh;
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
        display: block;
    }

    .AudioRecorder > div > div >.sound-wave.hide {
        display: none;
    }