.AudioPlayer {
    padding: 0;
    margin: 0;
}

.AudioPlayer > .audio-control {
    display: inline-block;
    width: 15%;
    padding: 2% 1%;
    margin: 0;
    color: white;
    font-size: 200%;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.red {
    background-color: #EE6352;
}

.green {
    background-color: #6BAB90;
}

.gray {
    background-color: #CCCCCC;
}