.Navigator {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

    .Navigator > .button {
        display: inline-block;
        width: 15%;
        padding: 2% 1%;
        margin: 2%;
        font-size: 300%;
        color: white;
        cursor: pointer;
        user-select: none;
    }

    .Navigator > .red {
        background-color: #EE6352;
    }

    .Navigator > .green {
        background-color: #6BAB90;
    }

    .Navigator > .gray {
        background-color: #CCCCCC;
    }