.Selector {
    margin: 0;
    padding: 0;
}

.Selector > .lang-container {
    width: 80%;
    margin: 1vh auto;
}


.Selector > .button {
    margin: 1.5vh;
}

    .LangItem.selected {
        background-color: black;
        color: white;
        border-color: black;
    }