.Selector {
    margin: 0;
    padding: 0;
}

.Selector > .lang-container {
    width: 80%;
    margin: 1vh auto;
}


.LangItem {
    display: inline-block;
    width: 15%;
    padding: 2vh 1%;
    margin: 1.5vh;
    background-color: #EFE9F4;
    color: grey;
    font-size: 4vh;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

    .LangItem.selected {
        background-color: #17BEBB;
        color: lightgrey;
    }