.App {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    /*background-image: url('./resources/background.jpg');*/
    background-color: white;
    background-size: cover;
    color: black;
    height: 100vh;
    font-family: "Georgia", Times, sans-serif;
}

.btn {
    font-size: 6vh;
    width: 100% !important;
    cursor: pointer;
    user-select: none;
    border-radius: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}


    .btn.disabled {
        background-color: grey !important;
        color: lightgrey !important;
        border: solid 2px grey !important;
    }

    .btn.selected {
        background-color: white !important;
        color: black !important;
        border: solid 2px black !important;
    }


    .btn.active {
        background-color: black !important;
        color: white !important;
        border: solid 2px black !important;
    }